<ng-container>
    <div class="card-group">
      <div class="card-body">
        <a class="image-container" [routerLink]="['/player', player.id]">
          <img [src]="player.image" [alt]="player.name" />
          <div class="text-overlay">
            {{player.name}}
            <div *ngIf="player.position === 'defender'; else notDefender">
              {{player.games}} 
              {{player.cleanSheets}}
              {{player.saves}}
            </div>
            <ng-template #notDefender>
              <div>
                <!-- Contenido alternativo si player.position no es 'defender' -->
                <span>{{player.games}}</span>
                <span>{{player.seasons}}</span>
              </div>
            </ng-template >
          </div>
          </a>
      </div>
    </div>
  </ng-container>

 