<div class="container">
  <div class="firstTeam">
    <div><h2>Barcelona First Team</h2></div>
    <div class="smallText">
      PRESENTADO POR
      <img class="konami" src="../../assets/logos/konami-24-logo.png" alt="" />
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" >
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="#porteros">PORTEROS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="#defensas">DEFENSAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="#midfielder">CENTROCAMPISTAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="#forward">DELANTEROS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-link" href="#cuerpotecnico">CUERPO TECNICO</a>
    </li>
  </ul>
  <div class="row">
    <!-- <ng-container *ngFor="let category of categories">
      <div id="{{ category.id }}">
        <p>{{ category.name }}</p>
        <div class="card-group">
          
          <div class="card-body" *ngFor="let player of category.players">
            <a href="player/{{ player.id }}">
              <img [src]="player.image" [alt]="player.name" />
            </a>
          </div>
        </div>
      </div>
    </ng-container> -->
  </div>
</div>  